@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: rgb(233, 234, 236);
}

h1{
    color: rgb(203, 34, 34);
    text-align: center;
    padding: 3vh;
}


.dragon{
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 1vh;
    padding: 5vh;

    img{
        border: solid 2px rgb(139, 31, 31);
        border-radius: 2vh;
    }
}